USE [master]
GO
/****** Object:  Database [QuanLyCuaHangBanLe]    Script Date: 2015-09-01 19:04:27 ******/
CREATE DATABASE [QuanLyCuaHangBanLe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangBanLe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangBanLe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyCuaHangBanLe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangBanLe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangBanLe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangBanLe]
GO
/****** Object:  Table [dbo].[CHI_TIET_HDBAN]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HDBAN](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SLBan] [int] NULL,
	[DonGiaBan] [int] NULL,
	[ThanhTienBan] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_HDBAN] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_PN]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PN](
	[MaPN] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SLNhap] [int] NULL,
	[DonGiaNhap] [int] NULL,
	[ThanhTienNhap] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_PN] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MaCV] [nvarchar](50) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOA_DON_BAN]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_BAN](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaKH] [nvarchar](50) NULL,
	[NgayBan] [datetime] NULL,
	[TongTienBan] [int] NULL,
 CONSTRAINT [PK_HOA_DON_BAN] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChiKH] [nvarchar](50) NULL,
	[SDTKH] [varchar](12) NULL,
	[DiemTichLuy] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[SDTNCC] [varchar](13) NULL,
	[DiaChiNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [nvarchar](50) NOT NULL,
	[MaCV] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChiNV] [nvarchar](50) NULL,
	[SDTNV] [varchar](13) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOM_SAN_PHAM]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_SAN_PHAM](
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
	[PTTang] [int] NULL,
 CONSTRAINT [PK_NHOM_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MaPN] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
	[NgayNhap] [datetime] NULL,
	[TongTienNhap] [int] NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 2015-09-01 19:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [nvarchar](50) NOT NULL,
	[MaNhom] [nvarchar](50) NULL,
	[TenSP] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[SLTon] [int] NULL,
	[GiaBan] [int] NULL,
	[GiaNhap] [int] NULL,
	[MaNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHI_TIET_HDBAN] ([MaHD], [MaSP], [SLBan], [DonGiaBan], [ThanhTienBan]) VALUES (N'HDB00001', N'SP000001', 1, 8000, 8000)
INSERT [dbo].[CHI_TIET_HDBAN] ([MaHD], [MaSP], [SLBan], [DonGiaBan], [ThanhTienBan]) VALUES (N'HDB000010', N'SP000001', 1, 8000, 8000)
INSERT [dbo].[CHI_TIET_HDBAN] ([MaHD], [MaSP], [SLBan], [DonGiaBan], [ThanhTienBan]) VALUES (N'HDB00002', N'SP000006', 1, 5250, 5250)
INSERT [dbo].[CHI_TIET_PN] ([MaPN], [MaSP], [SLNhap], [DonGiaNhap], [ThanhTienNhap]) VALUES (N'HDN000001', N'SP000009', 1, 100000, 100000)
INSERT [dbo].[CHI_TIET_PN] ([MaPN], [MaSP], [SLNhap], [DonGiaNhap], [ThanhTienNhap]) VALUES (N'HDN0000010', N'SP000015', 1, 1500000, 1500000)
INSERT [dbo].[CHI_TIET_PN] ([MaPN], [MaSP], [SLNhap], [DonGiaNhap], [ThanhTienNhap]) VALUES (N'HDN000002', N'SP000006', 1, 3500, 3500)
INSERT [dbo].[CHUC_VU] ([MaCV], [TenCV]) VALUES (N'001', N'nhan vien')
INSERT [dbo].[CHUC_VU] ([MaCV], [TenCV]) VALUES (N'002', N'baove')
INSERT [dbo].[HOA_DON_BAN] ([MaHD], [MaNV], [MaKH], [NgayBan], [TongTienBan]) VALUES (N'HDB00001', N'NV0001', N'KH0001', CAST(0x0000A4F9010C668C AS DateTime), NULL)
INSERT [dbo].[HOA_DON_BAN] ([MaHD], [MaNV], [MaKH], [NgayBan], [TongTienBan]) VALUES (N'HDB000010', N'NV0001', N'KH0001', CAST(0x0000A4FB00B98110 AS DateTime), NULL)
INSERT [dbo].[HOA_DON_BAN] ([MaHD], [MaNV], [MaKH], [NgayBan], [TongTienBan]) VALUES (N'HDB00002', N'NV0001', N'KH0001', CAST(0x0000A4F9010C9B48 AS DateTime), NULL)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [DiaChiKH], [SDTKH], [DiemTichLuy]) VALUES (N'KH0000', N'Khách bình thường', N'Tp.Hồ Chí Minh', N'0968511034', 0)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [DiaChiKH], [SDTKH], [DiemTichLuy]) VALUES (N'KH0001', N'Trần Thị Thủy', N'NHA TRANG', N'1644701234', 216)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [DiaChiKH], [SDTKH], [DiemTichLuy]) VALUES (N'KH0002', N'Thuy', N'Nha Trang', N'12782748', 16146)
INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [SDTNCC], [DiaChiNCC]) VALUES (N'NCC0001', N'Thái Sơn', N'01644701233', N'Hà Nội')
INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [SDTNCC], [DiaChiNCC]) VALUES (N'NCC0002', N'Tân Hiệp Phát', N'123123', N'TP.HCM')
INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [SDTNCC], [DiaChiNCC]) VALUES (N'NCC0003', N'Danh Nguyễn', N'123123', N'Gia Lai')
INSERT [dbo].[NHAN_VIEN] ([MaNV], [MaCV], [TenNV], [DiaChiNV], [SDTNV], [GioiTinh], [NgaySinh]) VALUES (N'NV0001', N'001', N'Trần Thị Thủy', N'Gia Lai', N'09685110341', N'Nữ ', N'06-08-1991')
INSERT [dbo].[NHAN_VIEN] ([MaNV], [MaCV], [TenNV], [DiaChiNV], [SDTNV], [GioiTinh], [NgaySinh]) VALUES (N'NV0002', N'002', N'Bùi Đình Duy', N'Quảng Ngãi', N'09012312312', N'Nam ', N'10-08-1990')
INSERT [dbo].[NHAN_VIEN] ([MaNV], [MaCV], [TenNV], [DiaChiNV], [SDTNV], [GioiTinh], [NgaySinh]) VALUES (N'NV0003', N'002', N'Pham Thi Yên', N'Nha Trang', N'1644701233', N'Nữ ', N'08-06-1987')
INSERT [dbo].[NHOM_SAN_PHAM] ([MaNhom], [TenNhom], [PTTang]) VALUES (N'MN001', N'Phụ kiện ', 10)
INSERT [dbo].[NHOM_SAN_PHAM] ([MaNhom], [TenNhom], [PTTang]) VALUES (N'MN002', N'Mỹ phẩm', 20)
INSERT [dbo].[NHOM_SAN_PHAM] ([MaNhom], [TenNhom], [PTTang]) VALUES (N'MN003', N'May mặc', 30)
INSERT [dbo].[PHIEU_NHAP] ([MaPN], [MaNCC], [MaNV], [NgayNhap], [TongTienNhap]) VALUES (N'HDN000001', N'NCC0001', N'NV0001', CAST(0x0000A4F900E5B834 AS DateTime), NULL)
INSERT [dbo].[PHIEU_NHAP] ([MaPN], [MaNCC], [MaNV], [NgayNhap], [TongTienNhap]) VALUES (N'HDN0000010', N'NCC0001', N'NV0001', CAST(0x0000A4FF00BAD86C AS DateTime), NULL)
INSERT [dbo].[PHIEU_NHAP] ([MaPN], [MaNCC], [MaNV], [NgayNhap], [TongTienNhap]) VALUES (N'HDN000002', N'NCC0001', N'NV0001', CAST(0x0000A4F9010CBD44 AS DateTime), NULL)
INSERT [dbo].[SAN_PHAM] ([MaSP], [MaNhom], [TenSP], [DonViTinh], [SLTon], [GiaBan], [GiaNhap], [MaNCC]) VALUES (N'SP000001', N'MN004', N'Sprite', N'Chai', 977, 7000, 5000, N'NCC0001')
INSERT [dbo].[SAN_PHAM] ([MaSP], [MaNhom], [TenSP], [DonViTinh], [SLTon], [GiaBan], [GiaNhap], [MaNCC]) VALUES (N'SP000002', N'MN001', N'coca', N'Chai', 262, 5001, 5000, NULL)
INSERT [dbo].[SAN_PHAM] ([MaSP], [MaNhom], [TenSP], [DonViTinh], [SLTon], [GiaBan], [GiaNhap], [MaNCC]) VALUES (N'SP000003', N'MN004', N'Sunlight', N'Chai', 7, 2000, 30000, NULL)
ALTER TABLE [dbo].[CHI_TIET_HDBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HDBAN_HOA_DON_BAN] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON_BAN] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_HDBAN] CHECK CONSTRAINT [FK_CHI_TIET_HDBAN_HOA_DON_BAN]
GO
ALTER TABLE [dbo].[CHI_TIET_HDBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HDBAN_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_HDBAN] CHECK CONSTRAINT [FK_CHI_TIET_HDBAN_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PN_PHIEU_NHAP] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEU_NHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CHI_TIET_PN] CHECK CONSTRAINT [FK_CHI_TIET_PN_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[CHI_TIET_PN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PN_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_PN] CHECK CONSTRAINT [FK_CHI_TIET_PN_SAN_PHAM]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_BAN_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [FK_HOA_DON_BAN_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_BAN_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [FK_HOA_DON_BAN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_CHUC_VU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUC_VU] ([MaCV])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_CHUC_VU]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_NHOM_SAN_PHAM] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOM_SAN_PHAM] ([MaNhom])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_NHOM_SAN_PHAM]
GO
USE [master]
GO
