<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH.Properties.Settings.QLBHConnectionString" connectionString="Data Source=DESKTOP-2BMOB7V;Initial Catalog=QLBH;User ID=sa01;Password=a123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
